.gif-zone{
    /* Position absolute takes the logo out of the flow of the page and allows it to be placed exactly where I want it, that is, the center of the screen. */
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  padding-top: 10%;
  margin-left: 0;
  right: 0;
}
